In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train = pd.read_csv('data/train.csv', index_col=0)
print(train.shape)
train.head()

(37518, 3)

   user_id                   ts  gate_id
0       18  2022-07-29 09:08:54        7
1       18  2022-07-29 09:09:54        9
2       18  2022-07-29 09:09:54        9
3       18  2022-07-29 09:10:06        5
4       18  2022-07-29 09:10:08        5

In [4]:
test = pd.read_csv('data/test.csv', index_col=0)
print(test.shape)
test.head()

(7125, 3)

                        ts  gate_id user_word
37518  2023-01-03 08:21:00        9      gini
37519  2023-01-03 08:21:00        9      gini
37520  2023-01-03 08:21:18        5      gini
37521  2023-01-03 08:21:19        5      gini
37522  2023-01-03 08:21:39       10      gini

In [5]:
all_data = pd.concat([train, test], axis=0)
all_data['ts'] = pd.to_datetime(all_data['ts'])

# Доля тест во всей выборке
sum(all_data['user_word'].notnull()) / all_data['user_word'].shape[0]

0.1595994892816343